<app-loading *ngIf="loadingPelicula"></app-loading>
  <div class="container main-container animated fadeIn fast">

    <div class="row">

        <div class="col-md-5">
            <img [src]="pelicula | peliculaImagen" [alt]="pelicula.original_title" class="img-thumbnail img-fluid" style="border:solid;">
        </div>


        <div class="col-md-7"style="color:white">
            <h3>{{ pelicula.title}}</h3>
            <br>
            <span  class=" translate-middle badge rounded-pill bg-danger"style="font-size:20px;border: radius 340px;"> {{ pelicula.vote_average }}</span>

          <br>
          <br>
            <p class="text-justify">

              <span  class=" translate-middle badge rounded-pill bg-danger"style="font-size:20px;border: radius 340px;">
                {{ pelicula.popularity | number:'1.0-0' }}/10
              </span>

              
            </p>
            <hr>
            <p class="text-justify"style=" font-size:20px;" >
                {{ pelicula.overview}}
            </p>

           

            <button [routerLink]="['/'+regresarA, busqueda ]" type="button" class="btn btn-success rounded-pill">
                Regresar
            </button>

        </div>
    </div>
</div>
