
<div class="card-columns mt-1 animated">
  <div (click)="verPelicula(item)" *ngFor="let item of items" class="card puntero">
    <div class="size">
      <img class="card-img-top" [src]="item | peliculaImagen" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <span  class=" translate-middle badge rounded-pill bg-danger"style=" size:100%;border: radius 30px;">
          {{ item.vote_average }}
        </span>
        <hr>


      </div>
      <br/>
    </div>


  </div>
</div>
